.head1{
background-color: #72B261;
}
.container {
  margin-top: 130px;
  margin-left: 310px;
  width: auto;
}


::ng-deep .ngx-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

::ng-deep .ngx-pagination li {
  display: inline-block;
  margin: 0 5px;
}

::ng-deep .ngx-pagination li a,
::ng-deep .ngx-pagination li span {
  display: inline-block;
  padding: 5px 10px;
  color: var(--black-color);
  border: 1px solid var(--green-color);
  border-radius: 3px;
}

::ng-deep .ngx-pagination li a:hover {
  background-color: var(--white-color);
}

::ng-deep .ngx-pagination li.current span {
  font-weight: bold;
  background-color: var(--green-color);
  color: var(--white-color);
  border-color: var(--green-color);
}
::ng-deep .ngx-pagination .current {
  background-color: var(--white-color) !important;
  border-color: var(--green-color);
}