<div class="container">
  <div class="row gap-3">
    <div class="card text-center col-md" style="width: 18rem">
      <i class="bi bi-people fs-2"></i>
      <div class="card-body">
        <p class="card-text iconsName">Candidates</p>
        <p class="card-text">{{ countCandidates }}</p>
      </div>
    </div>
    <div class="card text-center col-md" style="width: 18rem">
      <i class="bi bi-window-stack fs-2"></i>
      <div class="card-body">
        <p class="card-text iconsName">Jobs</p>
        <p class="card-text">{{ countJobs }}</p>
      </div>
    </div>
    <div class="card text-center col-md" style="width: 18rem">
      <i class="bi bi-question-square fs-2"></i>
      <div class="card-body">
        <p class="card-text iconsName">Questions</p>
        <p class="card-text">{{ countQuestions }}</p>
      </div>
    </div>
  </div>
</div>
