<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card text-center">
        <div class="card-header">
          <h4 class="card-title mb-0">404: Page not found</h4>
        </div>
        <div class="card-body">
          <i class="bi bi-cup-hot fs-2"></i>
          <h1 class="h1 mt-4 mb-2" style="color: var(--green-color);">404</h1>
          <p class="card-text text-secondary">
            Sorry, it appears that the page you're trying to find has gone on a
            coffee break.
          </p>
          <a class="btn Back_Home">
            Back Home
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
